@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(233 80% 3%);
  --bg: hsl(227 58% 6%);
  --bg-light: hsl(225 37% 10%);
  --text: hsl(224 100% 100%);
  --text-muted: hsl(224 41% 74%);
  --highlight: hsl(224 22% 43%);
  --border: hsl(225 28% 32%);
  --border-muted: hsl(225 39% 21%);
  --primary: hsl(224 77% 77%);
  --secondary: hsl(43 50% 59%);
  --danger: hsl(9 31% 65%);
  --warning: hsl(52 22% 56%);
  --success: hsl(147 21% 58%);
  --info: hsl(217 34% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0.03 269);
  --bg: oklch(0.15 0.03 269);
  --bg-light: oklch(0.2 0.03 269);
  --text: oklch(0.96 0.06 269);
  --text-muted: oklch(0.76 0.06 269);
  --highlight: oklch(0.5 0.06 269);
  --border: oklch(0.4 0.06 269);
  --border-muted: oklch(0.3 0.06 269);
  --primary: oklch(0.76 0.1 269);
  --secondary: oklch(0.76 0.1 89);
  --danger: oklch(0.7 0.06 30);
  --warning: oklch(0.7 0.06 100);
  --success: oklch(0.7 0.06 160);
  --info: oklch(0.7 0.06 260);
}
body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(223 72% 92%);
  --bg: hsl(223 100% 97%);
  --bg-light: hsl(223 100% 100%);
  --text: hsl(233 82% 8%);
  --text-muted: hsl(225 28% 32%);
  --highlight: hsl(224 100% 100%);
  --border: hsl(224 22% 55%);
  --border-muted: hsl(224 32% 67%);
  --primary: hsl(226 43% 34%);
  --secondary: hsl(47 100% 14%);
  --danger: hsl(9 25% 41%);
  --warning: hsl(51 29% 33%);
  --success: hsl(148 24% 35%);
  --info: hsl(217 26% 42%);
  /* oklch */
  --bg-dark: oklch(0.92 0.03 269);
  --bg: oklch(0.96 0.03 269);
  --bg-light: oklch(1 0.03 269);
  --text: oklch(0.15 0.06 269);
  --text-muted: oklch(0.4 0.06 269);
  --highlight: oklch(1 0.06 269);
  --border: oklch(0.6 0.06 269);
  --border-muted: oklch(0.7 0.06 269);
  --primary: oklch(0.4 0.1 269);
  --secondary: oklch(0.4 0.1 89);
  --danger: oklch(0.5 0.06 30);
  --warning: oklch(0.5 0.06 100);
  --success: oklch(0.5 0.06 160);
  --info: oklch(0.5 0.06 260);
}

html {
	font-size: 16px;
	font-family: 'Inter', system-ui, sans-serif;
}

.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

@theme inline {
	--color-bg-dark: var(--bg-dark);
	--color-bg: var(--bg);
	--color-bg-light: var(--bg-light);
	--color-text: var(--text);
	--color-text-muted: var(--text-muted);
	--color-highlight: var(--highlight);
	--color-border: var(--border);
	--color-border-muted: var(--border-muted);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-danger: var(--danger);
	--color-warning: var(--warning);
	--color-success: var(--success);
	--color-info: var(--info);
	--color-sendbar-bg: var(--sendbar-bg);
}
